<!-- Header -->
  <header id="header" class="left_panel" style="text-align: center;">
    <a href="https://github.com/lstypka" class="image avatar"><img src="https://avatars1.githubusercontent.com/u/1587788" alt="" /></a>
	<a href="http://stypka.pl" target="_blank"><h4>Łukasz Stypka</h4></a>
	<ul class="icons">

      {% if site.linkedin_username %}
      <li><a href="https://linkedin.com/in/{{ site.linkedin_username }}" class="icon fa-linkedin" style="color: #b2b2b2 !important;" title="LinkedIn"></a></li>
      {% endif %}

      {% if site.github_username %}
      <li><a href="https://github.com/{{ site.github_username }}" class="icon fa-github" style="color: #b2b2b2 !important;" title="Github"></a></li>
      {% endif %}
      {% if site.email %}
      <li><a href="mailto:{{ site.email }}" class="icon fa-envelope-o"  style="color: #b2b2b2 !important;" title="Email"></a></li>
      {% endif %}
      {% if site.feed_icon %}
      <li><a href="{{ site.github.url }}/{{ site.feed_icon }}.xml" class="icon fa-rss" style="color: #b2b2b2 !important;" title="Feed"></a></li>
      {% endif %}
    </ul>

	<span class="description">{{ site.description}}</span>


<div class="tags">
{% capture tags %}
  {% for tag in site.tags %}
    {{ tag[0] }}
  {% endfor %}
{% endcapture %}
{% assign sortedtags = tags | split:' ' | sort %}

{% for tag in sortedtags %}
		<a href="/tag/#{{ tag }}"><span class="label tag">#{{ tag }}</span></a>
{% endfor %}
</div>
  </header>